<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
    xmlns:p="http://www.springframework.org/schema/p"    
    xmlns:mvc="http://www.springframework.org/schema/mvc"    
    xmlns:context="http://www.springframework.org/schema/context"    
    xmlns:util="http://www.springframework.org/schema/util"    
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd    
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd    
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd    
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd"> 
     
	<mvc:annotation-driven >  <!-- 支持spring3.0新的mvc注解 -->
	<!-- 
	<mvc:message-converters register-defaults="true"> 
        <bean class="red.sea.commons.UTF8StringHttpMessageConverter"/> 
    </mvc:message-converters>
     -->
</mvc:annotation-driven>
	<!-- 总错误处理-->
	<!-- 
注意这里配置的异常显示界面均仅包括主文件名，至于文件路径和后缀已经在viewResolver中指定。如/error/error表示/error/error.jsp
-->
 
    <!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 ，如果使用@ResponseBody 则返回json对象
 -->
<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
   <property name="messageConverters">  
   <list>
    <ref bean="stringHttpMessageConverter" />    
   <ref bean="jsonHttpMessageConverter"/>
   </list>  
   </property>  
</bean>  

<bean id="jsonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">    
    <property name="supportedMediaTypes">    
        <list>
        <value>application/json</value>     
        <value>text/html;charset=UTF-8</value>
        </list>    
    </property>    
</bean>
    
	<bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name ="supportedMediaTypes">   
              <list>   
                  <value>text/plain;charset=UTF-8</value>
                  <value>text/html;charset=UTF-8</value>   
              </list>   
        </property> 
    </bean>
    
    <!--对模型视图名称的解析，即在模型视图名称添加前后缀 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
         <property name="suffix" value=".jsp" /> <!-- 后缀 -->
         <!-- 如果使用jstl的话，配置下面的属性  开启这个会报错，可能是tomcat 不支持,需要增加jstl-1.2.jar -->
    	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />    
    </bean>
</beans>
